table {
    width: 100%;
}

table th {
    background-color: #283cae;
    color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #ddd;
}

table tbody tr:nth-child(odd) {
    background-color: #ccc;
}
